# editorconfig.org

# Define que este é o arquivo de configuração raiz
root = true

# Configurações padrão aplicadas a todos os arquivos
[*]
# Define que o estilo de quebra de linha é LF (line feed)
end_of_line = lf
# Insere uma nova linha vazia no final de cada arquivo
insert_final_newline = true
# Define o estilo de indentação como espaços
indent_style = space
# Define o tamanho da indentação como 2 espaços
indent_size = 2
# Define o conjunto de caracteres como UTF-8
charset = utf-8
# Remove espaços em branco no final das linhas
trim_trailing_whitespace = true

# Configurações específicas para arquivos Markdown
[*.md]
# Anula a configuração padrão e mantém espaços em branco no final das linhas
trim_trailing_whitespace = false
